* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body, #root {
  height: 100%;
}

body {
  background: #eee;
}

#root {
  display: flex;
  flex-direction: column;

  header {
    text-align: center;

    h1 {
      padding-top: 20px;
      font-family: "Noto Serif", Times, serif;
      font-weight: 700;
      font-size: 2rem;
    }

    h2 {
      font-family: "Noto Serif", Times, serif;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }

  #chart {
    flex: 1;
  }

  footer {
    padding-left: 50px;
    font-family: "Noto Serif", Times, serif;
    font-weight: 400;
    font-size: 0.8rem;

    a {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.chartist-tooltip {
  background: #444;
  color: #fff;
  border-radius: 10px;

  &:before {
    border-top-color: #444;
  }

  .chartist-tooltip-meta {

    .year {
      margin: 0 0 5px;
      padding: 0 10px;
      border-radius: 12px;
      background: red;
      display: inline-block;
      font-family: "Noto Serif", Times, serif;
      font-weight: 400;
    }

    .meta {

      .amount {
        font-family: "Noto Sans Mono", Courier, monospace;
        font-weight: 400;
        font-size: 1rem;
      }

      .info {
        font-family: "Noto Sans Mono", Courier, monospace;;
        font-weight: 200;
        font-size: 0.6rem;
      }
    }
  }

  & > .chartist-tooltip-value,
  & > br {
    display: none;
  }
}